
<div class="user-details">
  <h1> Our Robots </h1>
</div>
<div class="robohome" style="margin-left:auto;margin-right:auto">
  <div style="width: -moz-fit-content;margin: auto;text-align:center">
    
    <div style="width: -moz-fit-content;display:inline-block">
      <a href="https://github.com/frc5024/BaseBot">
      <img src="/raider-assets/img/protobot.png" style="width:100px">
      <p><b>MiniBot</b></p></a>
    </div>
    
    <div style="width: -moz-fit-content;display:inline-block">
      <a href="https://github.com/frc5024/PowerUp">
      <img src="/raider-assets/img/2018.png" style="width:150px">
      <p><b>Q*bert</b></p></a>
    </div>
    
    <div style="width: -moz-fit-content;display:inline-block">
      <a href="https://github.com/frc5024/SteamWorks">
      <img src="/raider-assets/img/2017.png" style="width:105px">
      <p><b>Watt</b></p></a>
    </div>
    
    <div style="width: -moz-fit-content;display:inline-block">
      <a href="https://github.com/frc5024/Stronghold">
      <img src="/raider-assets/img/2016.png" style="width:120px">
      <p><b>Guinevere</b></p></a>
    </div>
    
    <div style="width: -moz-fit-content;display:inline-block">
      <a href="https://github.com/frc5024/RecycleRush">
      <img src="/raider-assets/img/2015.png" style="width:140px">
      <p><b>Herbert</b></p></a>
    </div>
    
    <div style="width: -moz-fit-content;display:inline-block">
      <a href="https://github.com/frc5024/AerialAssist">
      <img src="/raider-assets/img/2014.png" style="width:120px">
      <p><b>Benson</b></p></a>
    </div>
</div>
  
</div>
