
<div class="user-details">
  <h1> Our Robots </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img src="/raider-assets/img/protobot.png" />
  </div>
<div class="contents">
    <h3> ProtoBot </h3>
  <a class="project-link" href="https://github.com/frc5024/powerup-offseason">View Code</a>
  </div>
  
  <div class="images-left">
    <img src="/raider-assets/img/2018.png" />
  </div>
<div class="contents-right">
    <h3> Q*bert </h3>
  <a class="project-link" href="https://github.com/frc5024/powerup-offseason">View Code</a>
  </div>
  
  
</div>

  <div style="width:90%">
    <div class="tech" style="float:left">
      <img src="/raider-assets/img/protobot.png" style="width:120px">
      <h2>ProtoBot</h2>
    </div>
    <div class="tech" style="float:left">
      <img src="/raider-assets/img/2018.png" style="width:120px">
      <h2>Q*bert</h2>
    </div><br>
    <div class="tech" style="float:left">
      <img src="/raider-assets/img/2017.png" style="width:120px">
      <h2>Watt</h2>
    </div>
    <div class="tech" style="float:left">
      <img src="/raider-assets/img/2016.png" style="width:120px">
      <h2>Guinevere</h2>
    </div><br>
    <div class="tech" style="float:left">
      <img src="/raider-assets/img/2015.png" style="width:120px">
      <h2>Benson</h2>
    </div>
    <div class="tech" style="float:left">
      <img src="/raider-assets/img/2014.png" style="width:120px">
      <h2>Herbert</h2>
    </div>
    
</div>
