
<div class="user-details">
  <h1> BarebonesFRC </h1>
  <p> BarebonesFRC is a project that was started by a few members of the team as a simple, modular codebase that could be used to help teams get their robots moving as soon as possible. The idea was: "The faster that the easy stuff gets done, the more time can be spent on new features and bugfixes". Since the time that this project was started, BarebonesFRC has become the base of all our team's projects. Along with being an easy to set up codebase, it is also used by us to teach new members how to program robots. </p>
  
  <h1> VisionKit </h1>
  <p> VisionKit is an early-beta python library built on top of numpy, opencv, grip, and tensorflow. It is designed to allow our programming team to easily write computer vision code for our robots. It makes use of a few simple interface classes and comes packed with presets and classifiers. For tasks such as finding retro-reflective tape, VisionKit can do the job in around 5 lines of python code. </p>

</div>
