
<div class="user-details">
    <h1> Featured Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="Unknown" src="{{site.featured_image}}" />
    </div>
    <div class="contents">
      <h3> {{site.primary_title}} </h3>
      <p>{{site.primary_description}}</p>
      <a class="project-link" href="{{site.primary_link}}">Check it out</a>
      <br><hr>
      <h3> {{site.secondary_title}} </h3>
      <p>{{site.secondary_description}}</p>
      <a class="project-link" href="{{site.secondary_link}}">Check it out</a>

      
    </div>
    <br><br><br>
    <div style="width:100%; text-align:center">
      <a class="project-link" href="/webdocs/docs/projects" >View All Projects</a>
    </div>
  </div>