<div id="particles-js">
  <div class="header">
      <!-- <ul class="banners">
        <li>
          Rookie All-Star<br><br>

          2014<br>
          Windsor Essex<br>
          Great Lakes<br>
          Regional
        </li>
        <li>
            Winner<br><br>
  
            2017<br>
            Windsor Essex<br>
            Great Lakes<br>
            Regional
          </li>
          <li>
              Rookie All-Star<br><br>
    
              2014<br>
              Windsor Essex<br>
              Great Lakes<br>
              Regional
            </li>
      </ul> -->
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Contact" href="http://www.raiderrobotics.org/contact"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/frc5024"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="http://www.raiderrobotics.org" data-scroll>About Us</a>
      </div>
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
