{%- comment -%}Meta tags to make browsers happy{%- endcomment -%}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{%- comment -%}This will automatically set the page title if the markdown file has a title property{%- endcomment -%}
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

{%- comment -%}Meta tags to make the website show up nice on Google search{%- endcomment -%}
<meta name="description"
    content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{%- comment -%}Page styles{%- endcomment -%}
<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

{%- comment -%}Analytics & GoogleAds verification{%- endcomment -%}
<meta name="google-site-verification" content="b9MZoxg5F0OHlf45sLQcEaCNX5jwS1AiD9_ADDFOVwM" />

{%- comment -%}This enables a plugin that automatically handles SEO for us{%- endcomment -%}
{% seo %}