<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>5024 Programming</title>
  <meta name="Description" content="The home of the Raider Robotics programming team">
  
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  
  <meta name="google-site-verification" content="b9MZoxg5F0OHlf45sLQcEaCNX5jwS1AiD9_ADDFOVwM" />
  
  <style>
  a{
    text-decoration:none;
  }
  .container::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
  }
  </style>
</head>
