<!-- <div class="user-details">
  <h1> Team Leads </h1>
</div>
<div class="user-projects">
  <div class="images-right">
  <h3> Evan Pratten </h3>
    <img alt="ewpratten" src="https://avatars.devrant.com/v-21_c-3_b-1_g-m_9-2_1-2_16-8_3-5_8-4_7-4_5-4_12-2_6-35_10-9_2-47_22-8_18-4_19-3_4-4_20-14.jpg" />
  </div>
  <div class="images-left">
  <h3> Sam Lownie </h3>
    <img alt="ellont" src="https://avatars.devrant.com/v-21_c-3_b-1_g-m_9-1_1-2_16-6_3-9_8-1_7-1_5-1_12-2_6-14_2-40_22-3_11-2_4-1.jpg" />
  </div>
</div>
 -->
