<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Unknown" src="https://i.imgur.com/xfTjB2A.jpg?1" />
  </div>
  <div class="contents">
    <h3> 2019 Codebase </h3>
    <p>After months of experimentation and three complete rewrites of our base code, we have built a strong base for this year's robot. This year, efficiency is key. Our code runs as fast as possible to give our drivers the most flexibility we can provide.</p>
    <a class="project-link" href="https://github.com/frc5024/DeepSpace">Check it out</a>
    <br><hr>
    <h3> DeepHUD </h3>
    <p>This year, we have taken on a completely new design for our autonomous code. It is not autonomous at all. Due to the limitations of the sandstorm, we are opting to give the drivers as much information as possible on our laptop in a minimalist design. Built on top of opencv, DeepHUD is designed to be an unintrusive way to enhance your driver's performance.</p>
    <a class="project-link" href="https://github.com/frc5024/DeepHUD">Check it out</a>
  </div>
</div>

