<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Unknown" src="https://scontent-yyz1-1.cdninstagram.com/vp/4c971a5eb1e5cefcf5b009d4666b738f/5D3801CA/t51.2885-15/e35/51738280_818885808458858_1015785813538071128_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com" />
  </div>
  <div class="contents">
    <h3> 2019 Codebase </h3>
    <p>After months of experimentation and three complete rewrites of our base code, we have built a strong base for this year's robot. This year, efficiency is key. Our code runs as fast as possible to give our drivers the most flexibility we can provide.</p>
    <a class="project-link" href="https://github.com/frc5024/DeepSpace">Check it out</a>
    <br><hr>
    <h3> TheiftyField </h3>
    <p>Our newest offseason project. We are in the progress of writing our own fully custom Field Management System (FMS) software. ThriftyField is written in python and fully open source. It supports any current version of the Driverstation software.</p>
    <a class="project-link" href="https://github.com/frc5024/ThriftyField">Check it out</a>
  </div>
</div>

