<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Qbert" src="https://pbs.twimg.com/media/DWhoCooW0AA0CI9.jpg:large" />
  </div>
  <div class="contents">
    <h3> 2018 Codebase </h3>
    <p>Our codebase for the 2017/2018 season was built from the ground up to help us manipulate powercubes at maximum efficiency while building an easy video game inspired control layout for our drive team.</p>
    <a class="project-link" href="https://github.com/frc5024/PowerUP">Check it out</a>
    <br><hr>
    <h3> 2018 Offseason Codebase </h3>
    <p>While it may look like our offseason codebase is the exact same thing as the main repo, it is actually very diffrent. Our offseason codebase contains many newer features like: realtime drivetrain switching, 1 and 2 player modes, and much more.</p>
    <a class="project-link" href="https://github.com/frc5024/powerup-offseason">Check it out</a>
  </div>
</div>

