<div class="user-details">
    <h1> Our Robots </h1>
  </div>
  <div class="robohome" style="margin-left:auto;margin-right:auto">
    <div style="width: -moz-fit-content;margin: auto;text-align:center">
      
    {% for robot in site.robots %}
      <div style="width: -moz-fit-content;display:inline-block">
        <a href="{{robot.link}}" style="text-decoration:none">
        <img src="{{robot.image}}" style="width:{{robot.scale}}px">
        <p><b>{{robot.name}}</b></p></a>
      </div>
    {% endfor %}
      
      
  </div>
    
  </div>